<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title or site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/styles.css' | url }}">
  </head>
  <body class="bg-neutral-900 text-neutral-100">
    <main class="max-w-6xl mx-auto p-4">
      {{ content | safe }}
    </main>
  </body>
</html>
