---
layout: layout.njk
activeNav: about
cn_title: 关于 - 香港中文大学（深圳）游戏研究社
en_title: About - CUHK(SZ) Game Odyssey
---

<div class="max-w-3xl mx-auto">
  {% set en_md %}{% include 'about/en.md' %}{% endset %}
  {% set zh_md %}{% include 'about/cn.md' %}{% endset %}
  <article data-locale="en" class="md-content" style="display:none">
    {{ en_md | markdown | safe }}
  </article>
  <article data-locale="cn" class="md-content">
    {{ zh_md | markdown | safe }}
  </article>
</div>


