---
layout: layout.njk
activeNav: projects
cn_title: 项目列表 - 香港中文大学（深圳）游戏研究社
en_title: Project List - CUHK(SZ) Game Odyssey
---

<h1 class="text-2xl font-bold mb-6 text-neutral-900 dark:text-white" data-i18n="nav.projects">Projects</h1>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
  {% for project in collections.projects %}
    {% set project = project %}
    {% include "card.njk" %}
  {% endfor %}
</div>


