---
layout: layout.njk
title: 项目
---

<h1 class="text-2xl font-bold mb-6" data-i18n="nav.projects">Projects</h1>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
  {% for project in collections.projects %}
    {% set project = project %}
    {% include "card.njk" %}
  {% endfor %}
</div>


